@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;0,800;1,200&family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --linkColor: #fff;
  --linkHover: #00FF00;
  --bgColor: #4B0082;
  --headColor: #00FF00;
  --textColor: #dcdcdc;
  --selectColor: #b09cbd;
  --btnColor: #fff;
  --btnColor2: #000;
  --btnHover: #00FF00;
  --btnColor: #4B0082;
  --addBtn: #00FF00;
  --editBtn: #87CEFA;
  --deleteBtn: rgb(253, 60, 60);
  --btnBgHover: #FFD700;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  background-color: var(--bgColor);
  font-family: 'Nunito', sans-serif;
}
h1 {
  color: var(--headColor);
  font-size: 2.5rem;
}
p {
  color: var(--textColor);
  font-size: 1.125rem;
  line-height: 2;
}
